extends base

block head
    link(href='css/landing.css', rel='stylesheet')

block content
    img#bg(src="images/background1.jpg", style="")
    .container
        .row.align-items-center(style="margin-top: 2%")
            .col-md-3.col-sm-12.col-xs-12
            .col-md-6.col-sm-12.col-xs-12(style="background-color: FFFFFF; padding: 2%;")
                div(style="text-align: center")
                    img(src="images/user.png", style="width: 100px; height: 100px;" )
                h3(style="text-align: center") Login to Access your Account
                div(id="display-message")
                form(class='company-register-form')
                  span(id="message" style="display: none; text-align: center; color: red;") 
                  .form-group
                      label(for='Company-name') Company-Name
                      input#name.form-control(type='text' aria-describedby='emailHelp' placeholder='Enter Company-Name...')
                  .form-group
                      label(for='company-category') Company-Category
                      select#category.form-control
                        option(value='0') Select Category
                        option(value='ambulance') Ambulance
                        option(value='firefighter') Firefighter
                        option(value='Pharmaceutical') Pharmaceutical       
                  .form-group
                      label(for='company-location') Location
                      input#location.form-control(type='text' aria-describedby='emailHelp' placeholder='Enter Location...')              
                  .form-group
                      label(for='contact') Contact
                      input#contact.form-control(type='text' aria-describedby='emailHelp' placeholder='Enter Contact...')
                  .form-group
                      label(for='user-name') User-name
                      input#username.form-control(type='text' aria-describedby='emailHelp' placeholder='Enter User-Name...')
                  .form-group
                      label(for='password') Password
                      input#password.form-control(type='password' placeholder='Password...')
                  div(style="text-align: center")
                      button.btn.btn-primary(type='submit') Register
                      br
                      |If you don't have account, 
                      a(href='/loginCompany') Login here!!

block js
    script(src='js/registerCompany.js' type='text/javascript')