.toast#myToast(style="position: absolute; top: 65; right: 20; z-index: 100;")
    .toast-header
        img(src="img/favicon.png", class="rounded mr-2", style="width: 20px; height: 20px; margin: 5px;")
        strong(class="me-auto")
            i(class="bi-gift-fill") Success
        button(type="button", class="btn-close", data-bs-dismiss="toast")
    .toast-body Announcement Posted Successfully