extends base

block head 
    script(src="js/protectRoutes.js")

block content
    div(class="text-center p-5")
        h1(class="mb-5" style="color: #a1ccd6;") View Directory
        table#userTable(class="table table-striped table-hover")
            thead
                tr
                    th First Name
                    th Last Name
                    th Username
            tbody

block js
    script(src='js/view-directory.js' type='text/javascript')