extends base

block content
    .row(style="height: 80%;")
        .container(style="height: 90%;")
            .text-center
                h1(style="color: #a1ccd6;") Unapproved by admin
            include toast
            div(class="form-inline col-4 mx-auto")
                .input-group.mb-3
                    input(class="form-control mr-sm-2", type="search", placeholder="Search" aria-label="Search" id="search")
                    select#searchOption(class="form-select")
                        <option value="all" selected>All</option>
                        <option value="topic">Topic</option>
                        <option value="description">Description</option>
                    button.btn.btn-secondary.w3-blue(id='search-document-btn') Search ❯
            br
            .row(style="max-height: 90%; overflow: auto;")
                .col-1.col-md-3
                .col-10.col-md-6#documentList
                    p Load documents....
                .col-1.col-md-3
                    

block js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.0/axios.min.js' type='text/javascript')
    script(src='js/viewAllRequests.js' type='text/javascript')
    script(src='js/reviewOneDocument.js' type='text/javascript')